/* ---- FONTS ---- */

@font-face {
    font-family: 'unna';
    src: url('../font/unna.otf') format('opentype');
}

@font-face {
    font-family: 'neris';
    src: url('../font/neris-sb.otf') format('opentype');
}


/* ---- BEGIN CSS ---- */

body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    overflow-x: hidden;
}

main {
    width: 100%;
}

.svg {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
}

a:hover {
    pointer-events: none;
}

h1, h2, h3, h4 {
    color:maroon;
}

/* Header */

header {
    box-sizing: border-box;
    width: 100%;
    height: 65px;
    background-color: #333;
    text-align: left;
    overflow: hidden;
    padding: 0 20px;
    padding-top: 17px;
}

header h2 {
    border-bottom:3px solid maroon;
    line-height:1.3em;
}

header h2,
header h2 a {
    display: inline-block;
    font-size: 1.45em;
    margin-bottom: 30px;
    text-decoration: none;
    color: #fff;
}

header#home-header {
    height: 350px;
    background-image: url(../img/home.jpg);
    background-position: bottom;
    text-align: center;
    margin-left: 0;
    border-bottom: 1px solid maroon;
}

header#home-header h2 {
    height: auto;
    font-size: 2.7em;
    color: maroon;
    border: none;
}

#header-content {
    box-sizing: border-box;
    background-color: rgba(245, 245, 245, 0.92);
    width: 75%;
    border-radius: 5px;
    height: 285px;
    margin: auto;
    margin-top: 15px;
    padding-top: 50px;
}


/* Search */

#searchbar-wrapper {
    display: inline-block;
    float: right;
    width: 50%;
    min-width: 500px;
    margin-top: -6px;
}

#searchbar {
    margin-bottom: 75px;
    text-align: center;
    width: 100%;
}

#searchbar input {
    width: 70%;
    box-sizing: border-box;
    height: 40px;
    padding: 8px 15px;
    background-color: rgb(230, 230, 230);
    border: 1px solid #bbb;
    display: inline-block;
}

#searchbar button {
    width: 65px;
    height: 40px;
    background-color: maroon;
    color: #fff;
    border: 2px solid #500000;
    border-bottom-width:4px;
    display: inline-block;
    position: relative;
    left: -8px;
    top: 5px;
}

#searchbar button:active {
    background-color: rgb(155, 0, 0);
    border-bottom-width:2px;
    top:6px;
}

footer {
    box-sizing: border-box;
    width: 100%;
    height: 75px;
    border-top: 1px solid #eee;
    margin-top: 50px;
}

#footer-img-wrapper {
    box-sizing: border-box;
    width: 70%;
    height: 100%;
    margin: auto;
    text-align: center;
}

.footer-img {
    display: inline-block;
    background-color: #fff;
    height: 100%;
    padding: 15px;
    margin: 0 50px;
    box-sizing: border-box;
}

.footer-img img {
    height: 100%;
    vertical-align: middle;
}

.footer-img a {
    opacity: 0.55;
}

.footer-img a:active {
    opacity: 1;
}

footer .divider {
    display: inline-block;
    color: #ddd;
    transform: scale(2.7);
}


/* Home Page */

#visual-content {
    width: 70%;
    margin: auto;
}

#home-svg-container {
    width: 70%;
    height: 70vh;
    display: inline-block;
}

#home-svg-container h3 {
    font-size: 2.5em;
    color: maroon;
    font-family: 'unna', "Palatino Linotype", "Book Antiqua", Palatino, Georgia, serif;
    margin-bottom: 15px;
    margin-top: 20px;
    text-align: center;
}

#top-authors {
    margin-top: 75px;
    width: 24%;
    min-width: 250px;
    float: right;
}

#top-authors select {
    width: 100%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#top-authors ul {
    list-style-type: none;
}

#top-authors ul li {
    box-sizing: border-box;
    padding: 5px;
    height: 105px;
    background-color: #eee;
    border-bottom: 1px solid #bbb;
}

#top-authors ul li h4 {
    padding-top: 10px;
    font-size: 1.3;
}

#top-authors ul a,
#top-authors ul a:hover,
#top-authors ul a:visited {
    text-decoration: none;
    color: #000;
    transition: all 0.5s;
}

#top-authors ul a:hover {
    letter-spacing: 1.5em;
}

.top-authors-svg {
    width: 90px;
    height: 90px;
    margin-right: 5px;
    float: left;
}


/* PROFILE */

#profile {
    box-sizing: border-box;
    width: 100%;
    height: 175px;
    margin: auto;
    display: block;
    background-color: #eee;
    border: 1px solid #ccc;
    border-bottom: 4px solid maroon;
}

#profile #icon {
    height: 100%;
    float: left;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid rgba(128, 0, 0, 0.1);
    border-top: none;
    border-left-color: #eee;
    border-bottom-color: #ccc;
}

#profile #icon img {
    height: 100%;
    box-sizing: border-box;
    width: inherit;
    border: 3px solid #fff;
}

#profile #info {
    height: 100%;
    padding-top: 10px;
    display: inline-block;
}

#profile #info h2 {
    padding: 4px 10px;
    margin-bottom: 5px;
    font-size: 75px;
    font-family: 'unna', "Palatino Linotype", "Book Antiqua", Palatino, Georgia, serif;
    text-transform: capitalize;
}

#profile #info p {
    padding-left: 15px;
    font-size: .8em;
    line-height: 1.5em;
    opacity: 0;
}

.numbers {
    box-sizing: border-box;
    width: 20%;
    min-width: 150px;
    max-width: 225px;
    height: 100%;
    float: right;
    display: inline-block;
    text-align: center;
    border-left: 1px solid #ccc;
    font-size: .9em;
}

.numbers h2 {
    font-size: 3.7em;
    font-family: 'Maven Pro', 'neris';
    margin-bottom: 2px;
}

.numbers #index-graph-container {
    width: 65%;
    height: 20px;
    border: 1px solid rgba(100, 100, 100, 0.7);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
}

.numbers .svg {
    background-color: rgba(255, 255, 255, 0);
}

.numbers .tooltip:hover {
    position: relative;
    z-index: 100;
}

.numbers .tooltip:before {
    background-color: #444;
    color: #fff;
    border-radius: 2px;
    content: attr(data-sbtooltip);
    display: none;
    padding: 4px 10px;
    position: absolute;
    top: 0px;
    left: 100px;
    box-shadow: 0px 0px 4 #999;
    -moz-box-shadow: 0px 0px 4 #999;
    -webkit-box-shadow: 0px 0px 4 #999;
    height: 30px;
    font-size: 10px;
}

.numbers .tooltip:after {
    border-width: 10px;
    border-style: solid;
    border-color: transparent #444 transparent transparent;
    content: "";
    display: none;
    height: 1px;
    width: 2px;
    position: absolute;
    top: -27px;
    left: 80px;
}

.numbers .tooltip:hover:after,
.numbers .tooltip:hover:before {
    display: block;
}


/* Tabs (to toggle the display) */

#display-toggles {
    display: block;
    margin-top: 20px;
}

#display-toggles ul,
#related ul {
    list-style-type: none;
    margin: auto;
}

#display-toggles ul {
    width: 70%;
    min-width: 650px;
}

#display-toggles ul li,
#related ul li {
    display: inline-block;
    text-align: center;
}

#display-toggles ul li {
    background-color: rgb(235, 235, 235);
    height: 20px;
    padding: 10px;
    padding-top: 15px;
    border: 1px solid #ddd;
    min-width: 75px;
    margin-left: -1px;
}

#display-toggles ul li.selected {
    background-color: #fff;
    color: maroon;
    z-index: 1000;
}

#display-toggles ul li:hover {
    color: maroon;
    cursor: pointer;
}


/* Main Display */

#display {
    width: 70%;
    height: 70vh;
    margin: auto;
    margin-top: -2px;
    min-width: 650px;
    min-height: 500px;
    border: 1px solid #ccc;
    border-top: none;
    overflow: hidden;
}


/* Related */

#related {
    width: 70%;
    box-sizing: border-box;
    margin: auto;
    margin-top: 30px;
    padding: 15px;
    background-color: rgb(250, 250, 250);
    border: 1px solid #ddd;
    text-align: center;
    margin-bottom: 15px;
}

#related hr {
    border-color: #971E1E;
    border-style: solid;
    width: 90px;
    border-width: 1px;
    margin-top: 1px;
}

#related ul {
    margin-top: 17px;
}

#related ul li {
    width: 185px;
}

#related ul li svg {
    width: 85%;
    margin-bottom: 10px;
}

#related ul li a:hover > svg {
    box-shadow: 0px 0px 3px 0px rgb(150, 20, 20);
}

#related ul li a {
    color: #000;
    text-decoration: none;
}

#related ul li:hover {
    text-decoration: underline;
    text-decoration-color: maroon;
}


/* Loading */

@keyframes float {
    0% {
        margin-top: 42vh;
    }
    50% {
        margin-top: 48vh;
    }
    100% {
        margin-top: 42vh;
    }
}

#loading {
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    color: #ccc;
    font-size: 4em;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
}

#loading h3 {
    height: 100%;
    margin: auto;
    margin-top: 42vh;
    animation: float 2s infinite;
}

@media screen and (min-width: 480px) {
    #profile #info h2 {
        font-size: 3em;
    }
}